page-contact {

}

#inputbox {
    font-size: 40px !important;
    font-family: "Avenir";
}
#buttonbutton {
  font-size: 25px;
  font-family: "Avenir";
  align-content: center;
}

#spanish {
  font-size: 40px;
  font-family: "Avenir";
  align-items: center;
}

#IBM {
  height: 200px;
  width: 200px;
  align-self: center;
  margin-left: 50%;
  transform: translateX(-50%);
}
