page-home {

}

.bigbutton {
    padding: 70px !important;
    font-size: 30pt !important;
    font-family: "Avenir"

}

ion-title {
      font-family: "Avenir";
      font-size: 25pt
}

#home-logo {
    font-family: "Avenir";
    font-size: 25pt;
    align-content: center;
}
#logo {
  height: 200px;
  width: 250px;
  align-self: center;
  margin-left: 50%;
  transform: translateX(-50%);
}
